


  <c-nav  variant="tabs" class="justify-content-center">
    <c-nav-item *ngFor="let tab of tabs" (click)="changeInTabSelection(tab)">
      <a [active]='tab.active'  cNavLink> {{tab.name}} </a>
    </c-nav-item>
    <!-- <c-nav-item>
      <a cNavLink> Skills </a>
    </c-nav-item> <c-nav-item>
      <a   cNavLink> Learnings </a>
    </c-nav-item> <c-nav-item>
      <a   cNavLink> Project </a>
    </c-nav-item> <c-nav-item>
      <a   cNavLink> Connect </a>
    </c-nav-item> -->
  </c-nav>
 
